<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include config/bootstrapcdn %>
    <link rel ='stylesheet' href="../styles/home.css">   
    
    <title>UPSTARMUSIC</title>
</head>
<body>
    <div class="container-fluid py-3">
        <!-- Top-Bar -->
        <div class="row">
            <div class="col">
                <nav class="nav nav-justified display-4 text-light shadow-sm rounded" id="headertext">
                    <a class="nav-item nav-link active" href="/"><h1 class=""> UPSTAR MUSIC</h1></a>
                    <a class="nav-item nav-link" href="/showall"><h1>List Artist</h1></a>
                    <a class="nav-item nav-link" href="/create-artist"><h1>Create Artist</h1></a>
                </nav> 
            </div>
        </div>

        <div class="row mt-5">
            <div class="col text-center" id="starthere">
                <a href="/create-artist" class="btn btn-dark py-5 px-5 shadow"><h1>START HERE</h1></a>
            </div>
        </div>
        
    </div>
    <% include config/jquerycdn %>
</body>
</html>