#headertext{
    background:#A31A1D;
}

#leftsidebar{
    background:#212B55;
}
#submitbutton{
    background:#053C5B;
}
h1{
    color: white !important;
}

i{
    font-size: 1.7em;
}

a:visited{
    
}

